/* line 1, C:/Users/kevin/Desktop/repos/Portfolio_Website_2/_sass/glitch2.scss */
.glitch {
  position: relative;
  color: white;
  mix-blend-mode: lighten;
}

/* line 6, C:/Users/kevin/Desktop/repos/Portfolio_Website_2/_sass/glitch2.scss */
.glitch:before, .glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  clip: rect(0, 0, 0, 0);
  color: black;
}

/* line 16, C:/Users/kevin/Desktop/repos/Portfolio_Website_2/_sass/glitch2.scss */
.glitch:before {
  left: -1px;
  text-shadow: 1px 0 rgba(255, 0, 0, 0.7);
}

/* line 21, C:/Users/kevin/Desktop/repos/Portfolio_Website_2/_sass/glitch2.scss */
.glitch:after {
  left: 1px;
  text-shadow: -1px 0 rgba(0, 0, 255, 0.7);
}

/* line 27, C:/Users/kevin/Desktop/repos/Portfolio_Website_2/_sass/glitch2.scss */
.glitch:hover:before {
  text-shadow: 4px 0 rgba(255, 0, 0, 0.7);
  animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
}

/* line 31, C:/Users/kevin/Desktop/repos/Portfolio_Website_2/_sass/glitch2.scss */
.glitch:hover:after {
  text-shadow: -5px 0 rgba(0, 0, 255, 0.7);
  animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse;
}

@keyframes glitch-loop-1 {
  0% {
    clip: rect(94px, 9999px, 26px, 0);
  }
  5% {
    clip: rect(91px, 9999px, 64px, 0);
  }
  10% {
    clip: rect(40px, 9999px, 49px, 0);
  }
  15% {
    clip: rect(58px, 9999px, 88px, 0);
  }
  20% {
    clip: rect(10px, 9999px, 63px, 0);
  }
  25% {
    clip: rect(53px, 9999px, 37px, 0);
  }
  30% {
    clip: rect(64px, 9999px, 92px, 0);
  }
  35% {
    clip: rect(77px, 9999px, 14px, 0);
  }
  40% {
    clip: rect(17px, 9999px, 61px, 0);
  }
  45% {
    clip: rect(36px, 9999px, 84px, 0);
  }
  50% {
    clip: rect(52px, 9999px, 35px, 0);
  }
  55% {
    clip: rect(8px, 9999px, 36px, 0);
  }
  60% {
    clip: rect(57px, 9999px, 77px, 0);
  }
  65% {
    clip: rect(57px, 9999px, 11px, 0);
  }
  70% {
    clip: rect(72px, 9999px, 76px, 0);
  }
  75% {
    clip: rect(86px, 9999px, 7px, 0);
  }
  80% {
    clip: rect(62px, 9999px, 42px, 0);
  }
  85% {
    clip: rect(49px, 9999px, 61px, 0);
  }
  90% {
    clip: rect(58px, 9999px, 30px, 0);
  }
  95% {
    clip: rect(31px, 9999px, 85px, 0);
  }
  100% {
    clip: rect(24px, 9999px, 62px, 0);
  }
}

@keyframes glitch-loop-2 {
 0% {
    clip: rect(42px, 9999px, 30px, 0);
  }
  5% {
    clip: rect(73px, 9999px, 25px, 0);
  }
  10% {
    clip: rect(97px, 9999px, 99px, 0);
  }
  15% {
    clip: rect(24px, 9999px, 95px, 0);
  }
  20% {
    clip: rect(35px, 9999px, 97px, 0);
  }
  25% {
    clip: rect(76px, 9999px, 6px, 0);
  }
  30% {
    clip: rect(94px, 9999px, 15px, 0);
  }
  35% {
    clip: rect(91px, 9999px, 39px, 0);
  }
  40% {
    clip: rect(23px, 9999px, 73px, 0);
  }
  45% {
    clip: rect(45px, 9999px, 98px, 0);
  }
  50% {
    clip: rect(25px, 9999px, 38px, 0);
  }
  55% {
    clip: rect(7px, 9999px, 91px, 0);
  }
  60% {
    clip: rect(13px, 9999px, 5px, 0);
  }
  65% {
    clip: rect(54px, 9999px, 98px, 0);
  }
  70% {
    clip: rect(36px, 9999px, 73px, 0);
  }
  75% {
    clip: rect(29px, 9999px, 73px, 0);
  }
  80% {
    clip: rect(25px, 9999px, 53px, 0);
  }
  85% {
    clip: rect(29px, 9999px, 81px, 0);
  }
  90% {
    clip: rect(100px, 9999px, 5px, 0);
  }
  95% {
    clip: rect(14px, 9999px, 69px, 0);
  }
  100% {
    clip: rect(69px, 9999px, 84px, 0);
  }lip: rect(31px, 9999px, 149px, 0);
  }
}

/*# sourceMappingURL=../_css/glitch2.map */