
  <div class="contact">

    <div class="row">
      <nav class="row full-width" id="top-nav">
        <a href="#!/">
          <div class="logo"><img src="_images/ky-logo2.png"></div>
        </a>
        <div class="nav_fullpage">
          <ul class="clearfix">
            <a href="#!/about">About</a>
            <a href="#!/projects">Projects</a>
            <a href="#!/contact">Contact</a>
          </ul>
        </div>

        <!--div id="myNav" class="overlay">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <div class="overlay-content">
            <a href="#!/about">About</a>
            <a href="#!/projects">Projects</a>
            <a href="#!/contact">Contact</a>
          </div>
        </div-->

        <div id="toggle" class="button_container"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
        <div id="overlay" class="overlay">
          <nav class="overlay-menu">
            <ul>
              <li><a href="#!/about">About</a></li>
              <li><a href="#!/projects">Projects</a></li>
              <li><a href="#!/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </nav>
    </div>



    <div class="contact_intro animated_fast fadeInDown">
      <div class="row">
        <div class="small-6 small-offset-3 column">
          <h1>GET IN TOUCH</h1>
          <p>Want to get in touch or talk to me?<br>Contact me via form, email, phone/text</p>
        </div>
      </div>
    </div>


    <div class="contact_form animated_slow fadeIn">

      <div class="content contact-content">
        <form name="contactForm" ng-submit="sendMessage()" novalidate>

          <div class="row">
            <div class="small-6 small-offset-3 column">
              <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
                <small style="color: red; display: block; text-align: center;">Enter a valid name</small>
              </div>
              <input type="text" placeholder="name" name="name" ng-model="contact.name" ng-required="true" />
            </div>
          </div>

          <div class="row">
            <div class="small-6 small-offset-3 column">
              <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
                <small style="color: red; display: block; text-align: center;">Enter a valid email</small>
              </div>
              <input type="email" placeholder="Email" name="email" ng-model="contact.email" ng-required="true" />
            </div>
          </div>

          <div class="row">
            <div class="small-6 small-offset-3 column">
              <textarea placeholder="Your Message" name="message" ng-model="contact.message" ng-required="true"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="small-6 small-offset-3 column">
              <input type="submit" value="Send" ng-disabled="contactForm.$invalid" />
            </div>
          </div>
        </form>
      </div>

    </div>


    <div class="contact_info animated_fast fadeInUp">
      <div class="row">
        <div class="small-6 small-offset-3 column">
          <p>(818) 861-9664<br>kevinyumdesign@gmail.com</p>
          <img src="_images/fb_icon.png">
          <img src="_images/github_icon.png">
        </div>
      </div>
    </div>

  </div>

  <script src='../_js/jquery-3.2.1.js'></script>
  <script src="../_js/foundation.min.js"></script>
  <script src="../_js/overlay.js"></script>

